#amountInput::placeholder,
#descriptionInput::placeholder,
#categoriesInput,#expense-filter,#expense-filter,
.expense-filter-text,#expense-filter-text{
    color: var(--bs-tertiary-color); 
}

#descriptionInput,#amountInput,#categoriesInput{
    border-color: var(--bs-primary-border-subtle);
}

.table tfoot tr td {
    color: var(--bs-gray-700);
    font-weight: bold;
}

.table thead tr th,.table tfoot tr td  {
    background: var(--bs-secondary-bg);
}

